<header class="text-center">
    <h1>
        Check Alim
    </h1>
    <ul class="nav nav-pills justify-content-center">
        {# User connecté #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <li class="nav-item">
                <a class="nav-link active" href="{{ path('dashboard') }}">Tableau de bord</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="{{ path('front_food_index') }}">Aliments</a>
            </li>

        {% endif %}
    </ul>
</header>